@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}

body {
  background-color: #e6e6fa;
}

.skills-sec {
  padding: 50px 60px;
}

.skills-sec h1 {
  text-align: center;
  text-transform: uppercase;
}

.skills-sec h1 a {
  text-decoration: none;
  color: black;
}

.skills-sec h1::after {
  content: "";
  width: 210px;
  height: 5px;
  background-color: #dc143c;
  display: flex;
  margin: auto;
}

.cards-sec {
  text-align: center;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.cards-sec div {
  padding: 30px 10px;
  background-color: #dcd0ff;
  cursor: pointer;
}

.cards-sec div:hover {
  background-color: #fbaed2;
  transition: 0.5s ease;
}

.cards-sec i {
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 24px;
  margin-bottom: 25px;
  color: #fff;
  background-color: #dc143c;
}

.cards-sec i:hover {
  transition: 0.5s ease;
  background-color: #dcd0ff;
}

.cards-sec h2 {
  color: #fff;
  margin-bottom: 15px;
  letter-spacing: 1.1px;
}

.cards-sec p {
  margin-bottom: 15px;
  color: #0c090a;
  line-height: 1.5;
}

.cards-sec a {
  margin-top: 25px;
  padding: 10px 20px;
  color: #fff;
  letter-spacing: 1.1px;
  font-size: 16px;
  background-color: #dc143c;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
}

.cards-sec a:hover {
  transition: 0.5s ease;
  background-color: #dcd0ff;
}

@media screen and (max-width: 981px) {
  .cards-sec {
    grid-template-columns: repeat(1, 1fr);
  }
}
